.form-wrapper {
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  padding-bottom: 15px;
  padding-top: 15px;

  display: flex;
  justify-content: center;

  box-shadow: 0px 3px 3px -3px rgba(0, 0, 0, 0.75);
  background-color: rgb(0, 71, 71);
}

.search-form {
  display: flex;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: saturate(300%);
}

.search-form input {
  width: 230px;
  padding: 10px;
  padding-left: 15px;
  border: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;

  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;

  font-size: 15px;

  &:focus {
    outline: transparent;
  }

  &::placeholder {
    color: #ffffff;
  }
}

.search-form button {
  width: 40px;
  height: 40px;
  padding: 7px;

  border: none;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;

  background-color: transparent;

  line-height: 0;

  &:hover,
  &:focus {
    background-color: rgba(255, 255, 255, 0.3);
    outline: transparent;
  }
}

.icon {
  fill: #fff;
  transform: translate(-1px, 1px);
}
